.contactContainer {
  width: 100%;
  height: 210px;
  background-color: #000000;
  text-align: center;
  position: relative;
  span{
    span {
      position: absolute;
      bottom: -500px;
    }
  }

  .text {
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 800;
    line-height: 2.14;
    letter-spacing: 0.62px;
    text-align: center;
    color: #ffd250;
  }
  .wave--top::before {
    background-image: radial-gradient(
      circle at 10px 15px,
      transparent 12px,
      #ffd250 13px
    );
  }
  .wave--top::after {
    background-image: radial-gradient(
      circle at 10px 0,
      #ffd250 12px,
      transparent 13px
    );
  }
}
