.nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  padding-top: 2%;
  padding-bottom: 1%;
  // background-color: red;
  background-color: white;
  // @media screen and (max-width: $phone) {
  //   display: none;
  // }
  // @media screen and (max-width: 500px) {
  //   padding: 0 1%;
  // }
  @media screen and (max-width: $phone) {
    flex-direction: column;
    padding-top: 5%;
    max-height: 400px;

  }
  .leftDiv{
    @media screen and (max-width: $phone) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .burgerMenu{
      display: none;
      cursor: pointer;
      @media screen and (max-width: $phone) {
        display: inline; 
      }
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
    }

    .change{
       .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .bar2 {opacity: 0;}
      
      .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
    .img_div {
      width: 141px;
      img {
        width: 100%;
      }
      @media screen and (max-width: $break-large) {
        width: 111px;
      }
      // @media screen and (max-width: $phone) {
      //   width: 80px;
      // }
    //   @media screen and (max-width: 500px) {
    //     width: 60px;
    //   }
    //   @media screen and (max-width: 400px) {
    //     width: 50px;
    // }
    }
  }
  .rightDiv {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: $break-large) {
      width: 100%;
    }
    @media screen and (max-width: $phone) {
      flex-direction: column;
       display: none;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      // border: 1px solid red;
      // @media screen and (max-width: 500px) {
      //   padding-inline-start: 0; 
      //   }
      @media screen and (max-width: $phone) {
        width: 80%;
        padding-inline-start: 0; 
      }
      @media screen and (max-width: $phone) {
        width: 100%;
      }
      li {
          @media screen and (max-width: $phone) {
          &:nth-child(-n+2){
            display: none;
          }
          }

        a {
          // margin: 0 10%;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 800;
          letter-spacing: 0.44px;
          //  text-align: center;
          color: #000000;
          text-decoration: none;
          // border: 1px solid red;
          &:hover {
            color: #ffd250;
            background-color: #000000;
          }

          @media screen and (max-width: $break-large) {
            font-size: 17px;
            letter-spacing: 0.4px;
          }
          @media screen and (max-width: 500px) {
            font-size: 15px;
          }

          @media screen and (max-width: 400px) {
            font-size: 12px;
          }
        //   @media screen and (max-width: 400px) {
        //     font-size: 9px;
        // }
        }
      }
    }
    button {
      width: 162px;
      height: 49px;
      background-color: #000000;
      font-family: Montserrat;
      font-size: 17.6px;
      font-weight: 800;
      line-height: 1.55;
      letter-spacing: 0.93px;
      text-align: center;
      color: #ffd250;
      border: none;
      padding: 0;
      border-radius: 0;
      &:hover {
        background-color: transparent;
        background-image: none;
        box-shadow: 0 0 0 1px transparent inset,
          0 0 0 0 rgba(34, 36, 38, 0.15) inset;
        color: #000000;
      }

      @media screen and (max-width: $break-large) {
        width: 138px;
        height: 42px;
        font-size: 15px;
        letter-spacing: 0.4px;
      }
      @media screen and (max-width: $phone) {
        margin: 3% 0;
      }
      @media screen and (max-width: 500px) {
        width: 90px;
        height: 32px;
        font-size: 10px;
      }

      // @media screen and (max-width: 500px) {
      //   width: 70px;
      //   height: 25px;
      //   font-size: 9px;
      // }

      // @media screen and (max-width: 400px) {
      //   width: 50px;
      //   height: 20px;
      //   font-size: 7px;
      // }
    }
  }
  .is-inactive {
    display: inline-flex;
  }
}


