.menuContainer {
  .mainText {
    width: 362px;
    height: 333px;
    background-color: #ffd250;
  p {
      width: 288px;
      height: 198px;
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.82;
      letter-spacing: 0.48px;
      text-align: center;
      color: #000000;
    }
  }
}
