.menuContainer {
  position: relative;
  span {
    position: absolute;
    top: -180px;
  }
  .textTopDiv {
    padding: 5% 0;
    @media screen and (max-width: $break-large) {
      padding: 10% 0;
    }
    .chickenWingDiv {
      width: 33%;
      position: relative;
      .chickenWingImgDiv {
        position: absolute;
        top: 40%;
        left: 40%;
        @media screen and (max-width: $break-large) {
          top: 70%;
        }
      }
    }
    .chickenLegDiv {
      width: 33%;
      position: relative;
      .chickenLegImgDiv {
        position: absolute;
        top: 10%;
        left: 40%;
        @media screen and (max-width: $break-large) {
          top: 0;
        }
      }
    }
    .text {
      width: 33%;
      text-align: center;
      h1 {
        font-family: Montserrat;
        font-size: 54px;
        font-weight: 800;
        letter-spacing: 3px;
        text-align: center;
        color: #000000;
        @media screen and (max-width: $break-large) {
          font-size: 40px;
        }
      }
      h2 {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: 0.53px;
        text-align: center;
        color: #000000;
        font-size: 28px;
        font-weight: 800;
        letter-spacing: 0.62px;
        width: 100%;
        @media screen and (max-width: $break-large) {
          font-size: 19.6px;
        }
      }
      p {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: 0.53px;
        text-align: center;
        color: #000000;
        @media screen and (max-width: $break-large) {
          font-size: 16.8px;
        }
      }
      button {
        width: 224px;
        height: 67px;
        background-color: #000000;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: 1.16px;
        text-align: center;
        color: #ffd250;
        margin: 5% 0;
        @media screen and (max-width: $break-large) {
          width: 179px;
          height: 54px;
          font-size: 17.6px;
        }
      }
    }
  }
  .mainDiv {
    // margin-bottom: 5%;
    margin: 0 10% 5% 10%;
    justify-content: center;
    @media screen and (max-width: $break-large) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10%;
      margin: 0 0 5% 0;
    }
    .mainDivImgContainer {
      img {
        width: 100%;
      }
      @media screen and (max-width: $break-large) {
        width: 100%;
        background-color: #ffd250;
      }
    }
    .mainText {
      padding-top: 40px;
      padding-bottom: 10px;
      margin-top: 4%;
      width: 362px;
      height: fit-content;
      background-color: #ffd250;
      text-align: center;
      position: relative;

      @media screen and (max-width: $break-large) {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
      }
      .textContainer {
        @media screen and (max-width: $break-large) {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          margin-left: 10%;
        }
        p {
          width: 100%;
          font-family: Montserrat;
          font-size: 22px;
          font-weight: 600;
          line-height: 1.82;
          letter-spacing: 0.48px;
          text-align: center;
          color: #000000;
          @media screen and (max-width: $break-large) {
            width: 50%;
          }
        }
      }
    }
    .chickenDishDiv {
      position: absolute;
      top: -90px;
      right: -60px;
      @media screen and (max-width: $break-large) {
        // margin-left: 90%;
        // margin-top: -5%;;
        position: absolute;
      }
    }

    .friesDiv {
      position: absolute;
      top:-50px;
      left: -30px;

      @media screen and (max-width: $break-large) {
        position: absolute;
        top:250px;
      }
    }
    .dipDiv {
      position: absolute;
      top: -60px;
      right: -60px;
      @media screen and (max-width: $break-large) {
        position: absolute;
        top: 240px;
      }
    }
  }
  .reverse {
    @media screen and (max-width: $break-large) {
      flex-direction: column-reverse;
    }
  }
  .textBottomDiv {
    text-align: center;
    @media screen and (max-width: $break-large) {
      display: none;
    }
    p {
      margin: 0 25%;
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.14;
      letter-spacing: 0.62px;
      text-align: center;
      color: #000000;
    }

    button {
      width: 224px;
      height: 67px;
      background-color: #000000;
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: 1.16px;
      text-align: center;
      color: #ffd250;
      border-style: none;
      margin: 3%;
    }
  }
  .bgSmallDiv {
    width: 100%;
    height: 352px;
    background-image: url(../images/bgSmall.png);
    background-size: cover;
    background-position: center;
    position: relative;
    @media screen and (max-width: $break-large) {
      height: 240.2px;
      margin-top: 100px;

    } 
  }
  .chickenBoxIconDiv{
    position: absolute;
    top: -100px;
    left: 170px;
    @media screen and (max-width: $break-large) {
      display: none;
    }
  }
}
